<!DOCTYPE html>
<html xmlns:th="http://localhost/">
    <head>
        <title th:remove="all">Tạo mới tài khoản</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
  		  <p style="margin-top: 1rem;">Tên đăng nhập của bạn là:</p>
		<span th:text="${loginId}"></span>
		
		<p style="margin-top: 1rem;">Mật khẩu của bạn là:</p>
		<span th:text="${password}"></span>

		<hr style="margin-top: 1rem;"/>
		<p>Rạng Đông Smart Lighting</p>
    </body>
</html>